@import './_variables'
@import './_mixins'
@import './_signup'
@import './_navigation'
@import './_profile'
@import './_leaderboard'
*
  // box-sizing: border-box
  // outline: none

html,
body
  height: 100%
  margin: 0
  font-family: 'Inter', sans-serif

body 
  // position: relative
  margin: 0
  font-family: 'Inter', sans-serif
a
  text-decoration: none
.file-upload 
  position: relative
  overflow: hidden
  display: inline-block
 

.file-upload input[type=file]
  position: absolute
  top: 0
  right: 0
  margin: 0
  padding: 0
  font-size: 20px
  cursor: pointer
  opacity: 0
  filter: alpha(opacity=0)

.file-upload label 
  display: inline-block
  padding: 10px 20px
  // font-size: 20px
  font-weight: bold
  color: #555
  // background-color: #555
  border-radius: 5px
  cursor: pointer

code 
 font-family: 'Inter', sans-serif